/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }
  body {
    font: "Lora"; 
  }
  header {
    background-image: url(first-back.jpeg);
    height: 100px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Iowan Old Style',sans-serif;
  }
  header a {
    color: black; 
    text-decoration: none; 
  }
  header h1 {
    color: black;
    margin: auto;
    display:flex;
    text-align: center;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }

  footer {
    color: black;
    height: 40px;
    background-color: #F8E0E6;
    bottom: 0;
    width: 100%;
    display: flex;
    margin:auto;
    padding-top:1%;
    font-family: 'Iowan Old Style',sans-serif;
    
    
    bottom: 0;
    justify-content: center;
  }

  
  .kitty input[type="password"]{
    width: 500px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 2%;
  }

  .kitty input[type="email"]{
    width: 500px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 3%;
  }

  .puppy{
    text-align: center;
    margin-bottom: 2%;
    background-color: #F8E0E6;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
  }

  .chick{
    text-align: center;
    margin-bottom: 2%;
    background-color: #F8E0E6;
    margin-left: 7%;
    margin-right: 7%;
  }

  .paper{
    text-align: center;
    margin-top: 2%;
  }

  .rock{
    margin-top:2%;
  }

  .scissors{
    margin-bottom: 2%;
    margin-top: 1%;
  }

  .tsukune{
    text-decoration: none;
    background-color: #F8E0E6;
    border: none;
    font-size: 20px;
  }

  .katsudon{
    text-align: center;
    margin-top: 1%;
  }

  .coco{
    margin-left: 80%;
  }

  .yale{
    text-decoration: none;
    background-color: transparent;
    border:none;
    font-size: 20px;
    font-weight: bold;
    background-color: #F8E0E6;
  }

  .an input[type="password"]{
    width: 500px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 2%;
  }

  .an input[type="email"]{
    width: 500px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 3%;
  }

  .mimi{
    text-align: center;
    margin-bottom: 2%;
    background-color: #F8E0E6;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
  }

  .kotetsu{
    text-align: center;
    margin-bottom: 2%;
    background-color: #F8E0E6;
    margin-left: 7%;
    margin-right: 7%;
  }

  .mimi [type="text"]{
    width: 500px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 3%;
    flex-direction: column;
  }

  .minimi{
    text-align: center;
    margin-bottom: 2%;
    background-color: #F8E0E6;
    margin-left: 7%;
    margin-right: 7%;
  }  

  .hami input[type="password"]{
    width: 500px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 2%;
  }

  .ham{
    text-align: center;
    margin-bottom: 2%;
    background-color: #F8E0E6;
    margin-left: 7%;
    margin-right: 7%;
  }

  .rose{
    margin-left: 40%;
    text-decoration: none;
    background-color: #F8E0E6;
    border: none;
    font-size: 20px;
  }