/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }
  body {
    font: "Lora"; 
  }
  header {
    background-image: url(first-back.jpeg);
    height: 100px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: black; 
    text-decoration: none; 
  }
  header h1 {
    color: black;
    margin: auto;
    display:flex;
    text-align: center;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }

  footer {
    color: black;
    height: 40px;
    background-color: #F8E0E6;
    bottom: 0;
    width: 100%;
    display: flex;
    margin:auto;
    
    
    bottom: 0;
    justify-content: center;
  }

  

